#g0v-projects .item a {
  width: 100%;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#g0v-projects .item > .content > .name {
  line-height: 1.1em;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

@import "_less/about.less";
@import "_less/archives.less";
@import "_less/g0v.less";
@import "_less/index.less";
@import "_less/join.less";
@import "_less/news.less";
@import "_less/projects.less";
@import "_less/search.less";
