extend layout

block script
    script(type="text/javascript").
        $(document).ready(function () {
            var page = "about";
            $("#nav_" + page).addClass("active");
        }); 

block title 
    關於我們

block content

    .about_container
        .about_header
            | g0v 介紹
        .about_content
            |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            |tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            |quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            |consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            |cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            |proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


    .about_container
        .about_header
            | g0v 的參與者
        .about_content
            |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            |tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            |quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            |consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            |cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            |proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    .about_container
        .about_header
            | g0v 的推動方式
        .about_content
            |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            |tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            |quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            |consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            |cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            |proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    .about_container
        .about_header
            | 相關文件
        .about_content
            |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            |tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            |quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            |consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            |cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            |proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    .about_container
        .about_header
            | 聯繫
        .about_content
            |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            |tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            |quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            |consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            |cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            |proident, sunt in culpa qui officia deserunt mollit anim id est laborum.



