extend layout

block script
    script(type="text/javascript").
        $(document).ready(function () {
            var page = "archives";
            $("#nav_" + page).addClass("active");
        }); 

block title 
    所有成果

block content
    #archives_left
        #archives_nav
            .nav_tab
                | 開發成果

            .nav_tab
                | 開發元件成果
        #archives_left_container
        

    #archives_right

    #archives_float_clear