extend layout

block script
    script(type="text/javascript").
        $(document).ready(function () {
            var page = "index";
            $("#nav_" + page).addClass("active");
        }); 

block title
    零時政府 g0v.tw 首頁

block content
    #index_first_container
        .index_inner_container
            .index_header
                | 最新成果
            .index_container
                .subtitle_index
                    | 立院議案審查大公開
                |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                |tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                |quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                |consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                |cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                |proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        .index_inner_container
            .index_header
                | g0v 介紹
            .index_container
                .subtitle_index
                    | 認識 g0v
                |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                |tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                |quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                |consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                |cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                |proident, sunt in culpa qui officia deserunt mollit anim id est laborum.



        .index_inner_container
            .index_header
                | 招募
            .index_container
                .subtitle_index
                    | 加入我們
                |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                |tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                |quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                |consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                |cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                |proident, sunt in culpa qui officia deserunt mollit anim id est laborum.



    #index_second_container
        #index_second_left
            .left_inner_container
                .left_header
                    | 萌典使用心得
                .left_container
                    |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    |tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    |quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    |consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    |cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    |proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

            .left_inner_container
                .left_header
                    | 立院線上編輯
                .left_container
                    |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    |tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    |quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    |consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    |cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    |proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

            .left_inner_container
                .left_header
                    | 閒置空間資料庫上線
                .left_container
                    |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    |tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    |quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    |consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    |cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    |proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

            .left_inner_container
                .left_header
                    | 404 兒少失蹤協尋

                .left_container
                    |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    |tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    |quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    |consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    |cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    |proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

            .left_inner_container
                .left_header
                    | 立院線上編輯

                .left_container
                    |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    |tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    |quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    |consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    |cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    |proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        #index_second_right
            .right_inner_container
                .right_header
                    | EVENT
                .right_container
                    |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    |tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    |quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    |consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    |cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    |proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            .right_inner_container
                .right_header
                    | VIDEO
                .right_container
                    |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    |tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    |quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    |consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    |cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    |proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            .right_inner_container
                .right_header
                    | LOGBOT
                .right_container
                    |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    |tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    |quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    |consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    |cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    |proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        #index_float_clear
