body {
  background:url(/imgs/tiles.png);
  font-size:15px;
}

.header {
  margin-bottom: 30px;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  background:url(/imgs/bk-2.png) #aeaeae;
  border-bottom: 2px solid #bebebe;
}

.header .container {
  width: 95%;
  margin:0;
  padding: 55px 0 20px 20px;
  background:url(/imgs/bk-1.png) no-repeat;
}

.header h1 {
  letter-spacing: -1px;
  font-size: 72px;
  color: white;
  line-height: 1;
  margin-bottom: 0.2em;
}

.header img {
  float:left;
}

#talk {
  float: right;
  width: 142px;
  height: 93px;
  background: url(/imgs/talk.png) no-repeat 0px -10px;
  left: -70px;
  top: -20px;
  position: relative;
}

#talk div {
  margin-top:35px;
}

#sitemap-panel {
  margin:10px 0 0 0;
  font-size: 15px;
  text-align: center;
}

#sitemap-panel a {
  color:#222;
}
#sitemap-panel a:hover {
  color:#831;
}

.map-caption-hot {
  background:#a00!important;
}

#sitemap-panel .map-entry {
  float:left;
  margin-right: 26px;
}

.map-caption {
  text-align: center;
  font-weight: 700;
  margin-bottom: 5px;
  background:#333;
  border-radius: 3px;
  color: #fff;
  padding:3px 8px 3px 8px;
}

.map-item {
  margin:0 0 2px 0;
}

.page-icon {
  float:left;margin:0 15px 15px 0;box-shadow:0px 1px 9px;
}

.footer {
  height: 20px;
  color: @grayLight;
  background: #000;
  margin: 30px 0 0 0;
  padding: 10px 20px 10px 10px;
  box-shadow: 0px -2px 10px;
}

.footer div {
  float: right;
  padding:0;margin:0;
  line-height:16px;
}

em.time {
  color: @grayLight;
  font-size: 80%;
}

h3 {
  margin-top:30px;
}

.brand {
  float:right!important;
}

.navbar {
  box-shadow: 0 2px 7px;
}

.logbot {
  height: 500px;
  float: right;
  margin: 10px 0 20px 20px;
  border-radius: 3px;
}
