header {
  padding-top: 60px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  background: #2E7BCF url(/imgs/header-bg.jpg) 0 0 repeat-x;
  border-bottom: solid 1px #275DA1;
}

header h1 {
  letter-spacing: -1px;
  font-size: 72px;
  color: white;
  line-height: 1;
  margin-bottom: 0.2em;
}


footer {
  height: @navbarHeight;
  color: @grayLight;
}

em.time {
  color: @grayLight;
  font-size: 80%;
}
