!!!5
html
  head
    meta(charset="utf-8")
    link(rel="SHORTCUT ICON",href="/g0v.ico")
    title {{page.title }}
    link(rel="stylesheet",type="text/css",href="/less/compiled.css")
    script(type="text/javascript",src="/javascript/jquery.min-1.7.2.js")
  body
    .navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        .container
          span.brand: img(src="/imgs/g0v-icon-invert.png")
          div
            ul.nav.nav-pills
              li#home: a(href="/") 首頁
              li#works: a(href="/works.html") 所有成果
              li#join: a(href="/join.html") 參與我們
              li#sitemap: a(href="/sitemap.html") 網站地圖
              li#about: a(href="/about.html") 關於我們
    header
      .container
        img(src="imgs/g0v-full.png")
        #sitemap-panel(style="float:right")
          .map-entry
            .map-caption.map-caption-hot: 九大建設黑客松 
            .map-item: a(href="http://registrano.com/events/g0v-hackath2n-taipei") 台北場報名網址
            .map-item: a(href="http://bit.ly/g0v-hackath2n") 會前共筆
          .map-entry
            .map-caption: 零時政府 
            .map-item: a(href="/about.html") 關於我們
            .map-item: a(href="/sitemap.html") 網站地圖
            .map-item: a(href="http://www.facebook.com/g0v.tw") 臉書專頁
            .map-item: a(href="http://www.facebook.com/groups/387816094628136/") 後勤中心
            .map-item: a(href="http://www.facebook.com/groups/design.g0v.tw/") 設計中心
          .map-entry
            .map-caption: 專案 
            .map-item: a(href="http://github.com/g0v") 源碼集散地
            .map-item: a(href="http://dev.g0v.tw/") 開發者首頁
            .map-item: a(href="http://g0v.tw/works.html") 成果列表
            .map-item: a(href="http://g0v.tw/communique/2012-12-16.html") g0v 公報
            .map-item: a(href="http://github.com/g0v/g0v.tw/wiki/Add-project") 增加專案
            .map-item: a(href="http://3du.tw") 教育部
          .map-entry
            .map-caption: 資訊 
            .map-item: a(href="http://blog.g0v.tw") 部落格
            .map-item: a(href="http://blog.g0v.tw/media") 媒體報導
            .map-item: a(href="http://blog.g0v.tw/links") 相關主題
            .map-item: a(href="http://logbot.owo.tw/channel/g0v.tw/today") 聊天室紀錄
            .map-item: a(href="https://twitter.com/search?q=%23g0v&src=hash") 推特
          .map-entry
            .map-caption: 活動 
            .map-item: a(href="http://registrano.com/search/events?q=g0v") 報名網頁
            .map-item: a(href="http://www.flickr.com/photos/tkirby/collections/72157632969946032/") 活動照片
            .map-item: a(href="http://www.youtube.com/playlist?list=PLOmVOzQIKKkTrOqF-BdKqK0iLM6MspSGM") 活動實況
            .map-item: a(href="https://hackpad.com/ZYU6qiYaQLo") 如何參加
            .map-item: a(href="http://bit.ly/g0v-hackath2n") 活動討論
          .map-entry
            .map-caption: 指南 
            .map-item: a(href="https://github.com/g0v/dev/wiki/g0v-newstuff") 新手指南
            .map-item: a(href="http://g0v.tw/join.html") 參與我們
            .map-item: a(href="http://g0v.tw/howto/irc.html") IRC 指南
            .map-item: a(href="http://g0v.tw/howto/wiki.html") Wiki 說明
            .map-item: a(href="http://g0v.tw/howto/issue_tracker.html") Issue Tracker

    .container
      .row
        .span9: {{ content }}
        .span3
           iframe.logbot(style="height:500px",src="http://logbot.owo.tw/widget/g0v.tw")
             a(href="http://logbot.owo.tw/channel/g0v.tw") #g0v.tw on Logbox
      footer
        hr
        div
          img(src="/imgs/g0v-icon.png")
          | g0v.tw 2013
    script(type="text/javascript")
      $(document).ready(function () {
        var page = "{{ page.id }}";
        $("#" + page).addClass("active");
      });
