doctype html
html(ng-app="g0v.tw",ng-cloak,lang="zh-Hant")
    head
        meta(charset="utf-8")
        meta(name="viewport",content="width=device-width, initial-scale=1.0")
        meta(property="og:title",content="零時政府 g0v.tw")
        meta(property="og:description",content="g0v.tw 是一個推動資訊透明化的社群，致力於開發公民參與社會的資訊平台與工具。2012 年底開始成形，截至2014年初已有 26 場工作坊、受邀演講 30+ 場、媒體報導 20+ 次、500+ 遍佈三大洲的貢獻者，成果皆以自由軟體模式釋出。將 gov 以「零」替代成為 g0v，從零重新思考政府的角色，也是代表數位原生世代從 0 與 1 世界的視野。g0v.tw 以開放原始碼的精神為基底，關心言論自由、資訊開放，寫程式提供公民容易使用的資訊服務。資訊的透明化能幫助公民更確實了解政府運作、更快速了解議題，不被媒體壟斷，也才可有效監督政府，化為參與行動最終深化民主體質。")
        meta(property="og:url",content="http://g0v.tw")
        meta(property="og:type",content="website")
        meta(property="og:image",content="https://raw.github.com/g0v/style-guide/master/logo/png/double-line/g0v-2line-white-s.png")
        link(rel="SHORTCUT ICON",href="/g0v.ico")
        block title
        link(rel="stylesheet", type="text/css", href="/css/app.css")
        link(rel="stylesheet", type="text/css", href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.11.0/css/semantic.min.css")
        link(rel="stylesheet", type="text/css", href="//cdnjs.cloudflare.com/ajax/libs/Han/2.2.3/han.css")
        script(src='//cdn.firebase.com/v0/firebase.js')
        script(src='/js/vendor.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.11.0/javascript/semantic.min.js')
        script(src='/js/app.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/Han/2.2.3/js/han.js')
        script(type="text/javascript").
          (function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1";
              fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));

        script(type="text/javascript").
          window.___gcfg = {lang: 'zh-TW'};

          (function() {
              var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
              po.src = 'https://apis.google.com/js/plusone.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
          })();
        block script
    body
        #header
            #header_inner_container
                #logo
                    a(href="/"): img(src="/imgs/g0v-horizontal-transparent-darkbackground-m.png")
                #social_block.hidden-phone
                    //i.facebook.sign.large.icon
                    //i.github.sign.large.icon
                    a(href='http://github.com/g0v')
                      i.inverted.large.github.sign.icon
                    a(href='http://facebook.com/g0v.tw')
                      i.inverted.large.facebook.icon
                    a(href='http://google.com/+g0vTW')
                      i.inverted.large.google.plus.icon
                    a(href='http://twitter.com/g0vtw')
                      i.inverted.large.twitter.icon
                    //#g_block
                        .g-follow(data-annotation='none', data-height='20', data-href='https://plus.google.com/102893633954450772289', data-rel='publisher')
                        //.g-plusone(data-size="medium",data-href="http://g0v.tw")
                    //#fb_block
                        #fb-root
                        .fb-like(data-href='https://www.facebook.com/g0v.tw', data-layout='button_count', data-action='like', data-show-faces='true', data-share='true')

                  .translator(ng-controller="langCtrl")
                    .ui.mini.purple.button(translate='BUTTON_LANG_TW', ng-click="changeLang('zh-TW')") 中文
                    .ui.mini.red.button(translate='BUTTON_LANG_EN', ng-click="changeLang('en-US')") English
                div.clearfix
        #container

            include ./nav
            block content

    #footer.hidden-phone
        #sitemap-panel
            //-.map-entry.hackathon
                .map-caption.map-caption-hot: 國民大會黑客松
                .map-item: a(href="http://registrano.com/events/g0v-hackath4n-taipei") 台北場報名網址
                .map-item: a(href="http://hack.g0v.tw/g0v-hackath4n") 黑客松共筆
                #talk
                 div
                   | 8/10 黑客松
                   br
                   | 報名網址

            .map-entry
                .map-caption(translate="FOOTER_SOCIAL_WEB"): | 社群網站
                //- .map-item: a(href="/about.html") 關於我們
                //- .map-item: a(href="/sitemap.html") 網站地圖
                .map-item: a(href="http://www.facebook.com/g0v.tw", translate="FOOTER_FACEBOOK") 臉書專頁
                .map-item: a(href="http://www.facebook.com/groups/387816094628136/", translate="FOOTER_FACEBOOK_GROUP") 臉書社群
                .map-item: a(href="https://plus.google.com/102893633954450772289",rel="publisher", translate="FOOTER_GOOGLE_PLUS") G+ 專頁
                .map-item: a(href="https://twitter.com/search?q=%23g0v&src=hash", translate="FOOTER_TWITTER") 推特
            .map-entry
                .map-caption(translate="FOOTER_PROJECT"): |專案
                .map-item: a(href="http://github.com/g0v", translate="FOOTER_SOURCECODE") 源碼集散地
                .map-item: a(href="http://hack.g0v.tw/", translate="FOOTER_HACKPAGE") 開發者首頁
                .map-item: a(href="http://data.g0v.tw/", translate="FOOTER_DATACENTER") 資料中心
                .map-item: a(href="http://github.com/g0v/g0v.tw/wiki/Add-project", translate="FOOTER_NEW_PROJECT") 增加專案
            .map-entry
                .map-caption(translate="FOOTER_INFO"): |資訊
                .map-item: a(href="http://blog.g0v.tw", translate="FOOTER_BLOG") 部落格

        #social_plugins

            div.footer-brand
                | g0v.tw 2013 |
                img(src="/imgs/g0v-horizontal-transparent-darkbackground-m.png")
                .build-id(ng-controller="BuildIdCtrl")
                  a(href="https://github.com/g0v/g0v.tw") {{buildId}}

        script(type="text/javascript").
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-41326468-1', 'g0v.tw');
            ga('send', 'pageview');
