//- extend layout

//- block title
//-     | 關於我們

//- block vars
//-     - nav_cls.about = 'highlight'

//- block content

#about-content
.ui.teal.segment
    .ui.label.black.ribbon.large 關於零時政府
    include:md ../../md/zh-tw/about/about.md
