extend ../layout/layout

block title
    title(translate="ABOUT_TITLE") 關於我們

block vars
    - nav_cls.about = 'highlight'

block content
  .ui.teal.segment
    .ui.label.black.ribbon.large 關於零時政府
    case lang
      when 'en-US'
        include:md ../../md/en-US/about/about.md
      default
        include:md ../../md/zh-TW/about/about.md
