.ui.teal.segment
  .ui.label.black.ribbon.large 黑客松報名
  div(ng-switch='locale')
    div(ng-switch-when="en-us")
      include:md ../../md/en-us/hackathon/act_info.md
    div(ng-switch-when="zh-tw")    
      include:md ../../md/zh-tw/hackathon/act_info.md
