.ui.red.segment
  .ui.label.teal.ribbon.large 黑客松紀錄
  div(ng-switch='locale')
    div(ng-switch-when="en-us")
      include:md ../../md/en-us/hackathon/act_record.md
    div(ng-switch-when="zh-tw")
      include:md ../../md/zh-tw/hackathon/act_record.md
