//- extend layout

//- block title 
//-     | 黑客松紀錄

//- block vars
//-     - nav_cls.actinfo = 'highlight'

//- block content
    
#about-content
.ui.red.segment
    .ui.label.teal.ribbon.large 黑客松紀錄
    include:md ../../md/zh-tw/hackathon/act_record.md
