.ui.red.segment
  .ui.teal.ribbon.label 社群文化
  div(ng-switch='locale')
    div(ng-switch-when="en-us")
      include:md ../../md/en-us/join/community.md
    div(ng-switch-when="zh-tw")
      include:md ../../md/zh-tw/join/community.md
