.ui.purple.segment
  .ui.label.green.ribbon.large 聯繫社群
  div(ng-switch='locale')
    div(ng-switch-when="en-us")
      include:md ../../md/en-us/about/contact.md
    div(ng-switch-when="zh-tw")    
      include:md ../../md/zh-tw/about/contact.md
