//- extend layout

//- block title 
//-     | 聯繫

//- block vars
//-     - nav_cls.contact = 'highlight'

//- block content

#about-content
.ui.purple.segment
    .ui.label.green.ribbon.large 聯繫社群
    include:md ../../md/zh-tw/about/contact.md
