extend ../layout/layout

block title
    title(translate="ACTRECORD_TITLE") 黑客松紀錄

block vars
    - nav_cls.actinfo = 'highlight'

block content

  h2.header
    .content
      | 大黑客松
    h5.ui.header.aligned
      .content
        | 凡走過必留下痕跡，凡 hack 過必留下連結。
        br
        | g0v 社群雙月大松，單月小松的節奏已持續超過一年，各專案也紛紛發起小型黑客松，這裡將收集活動紀錄。未參與過 g0v 社群可從完整影音紀錄與共筆了解開放協作的活動進行方式。
        p
        .sub.header （持續彙整中，活動未被加入請至這裡補充資料，或到 github 加入。）
  .ui.two.stackable.items.activity
        .item
          .content
            .meta 2014/8/30-31
            .name 第拾次資料科學黑客松
            p
            img.hack.ui.floated.image(src='https://dl.dropboxusercontent.com/u/16853724/hackath10n.png', width="220px", align="left")
            p.name4 g0v 社群與資料科學愛好者年會共同舉辦，是 g0v 第一次與其他團體合辦大型黑客松，也是首次連續兩天的活動。兩日成果於國際會議廳以閃電秀形式發表。
            p
            i.edit.medium.icon
            a(href="http://hack.g0v.tw/g0v-hackath10n", target="_blank") 共筆
            i.camera.medium.icon
            a(href="http://hack.g0v.tw") 照片
            p
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513AIbqa0WJ_jtoYG5XwltUBk", target="_blank") 開幕提案
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513CiFPEfWwH6WS-qiy3wkhE4", target="_blank") 短講
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513CiFPEfWwH6WS-qiy3wkhE4", target="_blank") 成果閉幕f
        .item
          .content
            .meta 2014/6/21
            .name 第玖次還我土地黑客松
            p
            img.hack.ui.floated.image(src='/imgs/hackathons/hackath9n1.png', width="220px", align="left")
            p.name4 g0v 社群與資料科學愛好者年會共同舉辦，是 g0v 第一次與其他團體合辦大型黑客松，也是首次連續兩天的活動。兩日成果於國際會議廳以閃電秀形式發表。
            p
            i.edit.medium.icon
            a(href="http://hack.g0v.tw/g0v-hackath9n", target="_blank") 共筆
            i.photo.medium.icon
            a(href="http://hack.g0v.tw", target="_blank") 照片
            p
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513DbZEAbqv8Yp43AkYGSgzaX", target="_blank") 開幕提案
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513Dk5cZvNt_t24qoyuM3E_Ll", target="_blank") 短講
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513CJHIEaM4wK2V1CFOyLAb8B", target="_blank") 成果閉幕

        .item
          .content
            .meta 2014/4/19
            .name 第捌次解除戒嚴黑客松
            p
            img.hack.ui.floated.image(src='/imgs/projectimg/image.png', width="220px", align="left")
            p.name4 g0v 社群與資料科學愛好者年會共同舉辦，是 g0v 第一次與其他團體合辦大型黑客松，國際會議廳以閃電秀形式發表。
            p
            i.edit.medium.icon
            a(href="http://hack.g0v.tw/g0v-hackath8n", target="_blank") 共筆
            i.photo.medium.icon
            a(href="http://hack.g0v.tw") 照片
            p
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513DbZEAbqv8Yp43AkYGSgzaX", target="_blank") 開幕提案
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513Dk5cZvNt_t24qoyuM3E_Ll", target="_blank") 短講
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513CJHIEaM4wK2V1CFOyLAb8B", target="_blank") 成果閉幕



        .item
          .content
            .meta 2014/2/22
            .name 第柒次自由時代黑客松
            p
            img.hack.ui.floated.image(src='https://dl.dropboxusercontent.com/u/16853724/hackath7n.png', width="220px", align="left")
            p.name4 g0v 社群與資料科學愛好者年會共同舉辦，是 g0v 第一次與其他團體合辦大型黑客松，也是首次連續兩天的活動。兩日成果於國際會議廳以閃電秀形式發表。
            p
            p
            i.edit.medium.icon
            a(href="http://hack.g0v.tw/g0v-hackath7n", target="_blank") 共筆
            p
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513DbZEAbqv8Yp43AkYGSgzaX", target="_blank") 開幕提案
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513Dk5cZvNt_t24qoyuM3E_Ll", target="_blank") 短講
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513CJHIEaM4wK2V1CFOyLAb8B", target="_blank") 成果閉幕
            p
            i.photo.medium.icon
            a(href="http://hack.g0v.tw") 照片

        .item
          .content
            .meta 2014/12/21
            .name 第陸次勞動基準黑客松
            p
            img.hack.ui.floated.image(src='/imgs/projectimg/image.png', width="220px", align="left")
            p.name4 g0v 社群與資料科學愛好者年會共同舉辦，是 g0v 第一次與其他團體合辦大型黑客松，也是首次連續兩天的活動。兩日成果於國際會議廳以閃電秀形式發表。
            p
            i.edit.medium.icon
            a(href="http://hack.g0v.tw/g0v-hackath6n", target="_blank") 共筆
            p
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513DbZEAbqv8Yp43AkYGSgzaX", target="_blank") 開幕提案
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513Dk5cZvNt_t24qoyuM3E_Ll", target="_blank") 短講
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513CJHIEaM4wK2V1CFOyLAb8B", target="_blank") 成果閉幕
            p
            i.photo.medium.icon
            a(href="http://hack.g0v.tw") 照片
        .item
          .content
            .meta 2013/10/20
            .name 第伍次美麗島黑客松
            p
            img.hack.ui.floated.image(src='https://s3-ap-northeast-1.amazonaws.com/kkbox-registrano/upload_images/12669/_____2013-10-04___12.14.43_large.png', width="220px", align="left")
            p.name4 g0v 社群與資料科學愛好者年會共同舉辦，是 g0v 第一次與其他團體合辦大型黑客松，也是首次連續兩天的活動。兩日成果於國際會議廳以閃電秀形式發表。
            p
            i.edit.medium.icon
            a(href="http://hack.g0v.tw/g0v-hackath5n", target="_blank") 共筆
            p
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513DbZEAbqv8Yp43AkYGSgzaX", target="_blank") 開幕提案
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513Dk5cZvNt_t24qoyuM3E_Ll", target="_blank") 短講
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513CJHIEaM4wK2V1CFOyLAb8B", target="_blank") 成果閉幕
            p
            i.photo.medium.icon
            a(href="http://hack.g0v.tw") 照片
        .item
          .content
            .meta 2013/8/10
            .name 第肆次國民大會黑客松
            p
            img.hack.ui.floated.image(src='/imgs/projectimg/image.png', width="220px", align="left")
            p.name4 g0v 社群與資料科學愛好者年會共同舉辦，是 g0v 第一次與其他團體合辦大型黑客松，也是首次連續兩天的活動。兩日成果於國際會議廳以閃電秀形式發表。
            p
            i.edit.medium.icon
            a(href="http://hack.g0v.tw/g0v-hackath4n", target="_blank") 共筆
            p
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513DbZEAbqv8Yp43AkYGSgzaX", target="_blank") 開幕提案
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513Dk5cZvNt_t24qoyuM3E_Ll", target="_blank") 短講
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513CJHIEaM4wK2V1CFOyLAb8B", target="_blank") 成果閉幕
            p
            i.photo.medium.icon
            a(href="http://hack.g0v.tw") 照片
        .item
          .content
            .meta 2013/6/6
            .name 第參次客廳工廠黑客松
            p
            img.hack.ui.floated.image(src='/imgs/projectimg/image.png', width="220px", align="left")
            p.name4 g0v 社群與資料科學愛好者年會共同舉辦，是 g0v 第一次與其他團體合辦大型黑客松，也是首次連續兩天的活動。兩日成果於國際會議廳以閃電秀形式發表。
            p
            i.edit.medium.icon
            a(href="http://hack.g0v.tw/g0v-hackath3n", target="_blank") 共筆
            p
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513DbZEAbqv8Yp43AkYGSgzaX", target="_blank") 開幕提案
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513Dk5cZvNt_t24qoyuM3E_Ll", target="_blank") 短講
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513CJHIEaM4wK2V1CFOyLAb8B", target="_blank") 成果閉幕
            p
            i.photo.medium.icon
            a(href="http://hack.g0v.tw") 照片
        .item
          .content
            .meta 2013/3/23
            .name 第貳次九大建設黑客松
            p
            img.hack.ui.floated.image(src='/imgs/projectimg/image.png', width="220px", align="left")
            p.name4 g0v 社群與資料科學愛好者年會共同舉辦，是 g0v 第一次與其他團體合辦大型黑客松，也是首次連續兩天的活動。兩日成果於國際會議廳以閃電秀形式發表。
            p
            i.edit.medium.icon
            a(href="http://hack.g0v.tw/g0v-hackath2n", target="_blank") 共筆
            p
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513DbZEAbqv8Yp43AkYGSgzaX", target="_blank") 開幕提案
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513Dk5cZvNt_t24qoyuM3E_Ll", target="_blank") 短講
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513CJHIEaM4wK2V1CFOyLAb8B", target="_blank") 成果閉幕
            p
            i.photo.medium.icon
            a(href="http://hack.g0v.tw") 照片

        .item
          .content
            .meta 2013/1/27
            .name 第壹次公地放領黑客松
            p
            img.hack.ui.floated.image(src='/imgs/projectimg/image.png', width="220px", align="left")
            p.name4 g0v 社群與資料科學愛好者年會共同舉辦，是 g0v 第一次與其他團體合辦大型黑客松，也是首次連續兩天的活動。兩日成果於國際會議廳以閃電秀形式發表。
            p
            i.edit.medium.icon
            a(href="http://hack.g0v.tw/g0v-hackath1n", target="_blank") 共筆
            p
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513DbZEAbqv8Yp43AkYGSgzaX", target="_blank") 開幕提案
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513Dk5cZvNt_t24qoyuM3E_Ll", target="_blank") 短講
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513CJHIEaM4wK2V1CFOyLAb8B", target="_blank") 成果閉幕
            p
            i.photo.medium.icon
            a(href="http://hack.g0v.tw") 照片

        .item
          .content
            .meta 2012/12/1
            .name 第零次動員戡亂黑客松
            p
            img.hack.ui.floated.image(src='/imgs/projectimg/image.png', width="220px", align="left")
            p.name4 g0v 社群與資料科學愛好者年會共同舉辦，是 g0v 第一次與其他團體合辦大型黑客松，也是首次連續兩天的活動。兩日成果於國際會議廳以閃電秀形式發表。
            p
            i.edit.medium.icon
            a(href="http://hack.g0v.tw/g0v-hackath0n", target="_blank") 共筆
            p
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513DbZEAbqv8Yp43AkYGSgzaX", target="_blank") 開幕提案
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513Dk5cZvNt_t24qoyuM3E_Ll", target="_blank") 短講
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513CJHIEaM4wK2V1CFOyLAb8B", target="_blank") 成果閉幕
            p
            i.photo.medium.icon
            a(href="http://hack.g0v.tw") 照片

  h2.header
    .content
      | 中型黑客松
  .ui.four.stackable.items
        .item
          .content
            .meta 2014/8/30-31
            .name 第拾次資料科學黑客松
            p
            img.hack.ui.floated.image(src='https://dl.dropboxusercontent.com/u/16853724/hackath10n.png')
            p
            i.edit.medium.icon
            a(href="http://hack.g0v.tw/g0v-hackath10n", target="_blank") 共筆
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513AIbqa0WJ_jtoYG5XwltUBk", target="_blank") 開幕提案
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513CiFPEfWwH6WS-qiy3wkhE4", target="_blank") 短講
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513CiFPEfWwH6WS-qiy3wkhE4", target="_blank") 成果閉幕

            i.camera.medium.icon
            a(href="http://hack.g0v.tw") 照片

        .item
          .content
            .meta 2014/6/21
            .name 第玖次還我土地黑客松
            p
            img.hack.ui.floated.image(src='https://dl.dropboxusercontent.com/u/16853724/hackath9n.png')
            i.edit.medium.icon
            a(href="http://hack.g0v.tw/g0v-hackath9n", target="_blank") 共筆
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513DbZEAbqv8Yp43AkYGSgzaX", target="_blank") 開幕提案
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513Dk5cZvNt_t24qoyuM3E_Ll", target="_blank") 短講
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513CJHIEaM4wK2V1CFOyLAb8B", target="_blank") 成果閉幕

            i.photo.medium.icon
            a(href="http://hack.g0v.tw", target="_blank") 照片

        .item
          .content
            .meta 2014/4/19
            .name 第捌次解除戒嚴黑客松
            p
            img.hack.ui.floated.image(src='https://dl.dropboxusercontent.com/u/16853724/hackath9n.png')
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513CJHIEaM4wK2V1CFOyLAb8B", target="_blank") 成果閉幕
            p
            i.photo.medium.icon
            a(href="http://hack.g0v.tw") 照片
  h2.header
    .content
      | 教學課程
  .ui.four.stackable.items
        .item
          .content
            .meta 2014/6/14
            .name 零時前端教學松
            .image
              img(src='https://dl.dropboxusercontent.com/u/16853724/frontend.png')
            p
            i.edit.medium.icon
            a(href="hhttp://hack.etblue.tw/learners", target="_blank") 共筆與教材
            i.youtube.medium.icon
            i.edit.medium.icon
            a(href="http://hack.g0v.tw/g0v-hackath8n", target="_blank") 共筆
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513DbZEAbqv8Yp43AkYGSgzaX", target="_blank") 開幕提案
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513Dk5cZvNt_t24qoyuM3E_Ll", target="_blank") 短講
            i.youtube.medium.icon
            a(href="https://www.youtube.com/watch?v=qDW-RqKDn1c", target="_blank") 直播
        .item
          .content
            .meta 2014/6/14
            .name 零時前端教學松
            .image
              img(src='https://dl.dropboxusercontent.com/u/16853724/frontend.png')
            p
            i.edit.medium.icon
            a(href="hhttp://hack.etblue.tw/learners", target="_blank") 共筆與教材
            i.youtube.medium.icon
            a(href="https://www.youtube.com/watch?v=qDW-RqKDn1c", target="_blank") 直播



  .ui.red.segment
    .ui.label.teal.ribbon.large(translate="ACTRECORD") 黑客松紀錄
    case lang
      when 'en-US'
        include:md ../../md/en-us/hackathon/act_record.md
      default
        include:md ../../md/zh-tw/hackathon/act_record.md
