extend ../layout/layout

block title
    title(translate="ACTRECORD_TITLE") 黑客松紀錄

block vars
    - nav_cls.actinfo = 'highlight'

block content

  h2.header
    .content
      | 大黑客松
    h5.ui.header.aligned
      .content
        | 凡走過必留下痕跡，凡 hack 過必留下連結。
        br
        | g0v 社群雙月大松，單月小松的節奏已持續超過一年，各專案也紛紛發起小型黑客松，這裡將收集活動紀錄。未參與過 g0v 社群可從完整影音紀錄與共筆了解開放協作的活動進行方式。
        p
        .sub.header （持續彙整中，活動未被加入請至這裡補充資料，或到 github 加入。）
  .ui.two.stackable.items.activity
        .item
          .content
            .meta 2016/8/6
            .name 第貳拾次總統直選黑客松
            p
            p
            img.hack.ui.image(src='/imgs/projectimg/image.png', width="350px")
            p
            i.edit.medium.icon
            a(href="http://hack.g0v.tw/g0v-hackath20n", target="_blank") 共筆
            i.edit.medium.icon
            a(href="http://hack.g0v.tw/g0v-hackath20n/http%253A%252F%252Fbit.ly%252F2a2hpkx", target="_blank") 提案列表
            p
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513BeuhVk96deA0I1flUsPc1q", target="_blank") 開幕提案
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513BpEcMMBbKZIY7JJ2Zne5O-", target="_blank") 短講
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513ANZmuCcMc12IZIcvMP-xtP", target="_blank") 成果閉幕

        .item
          .content
            .meta 2016/6/18
            .name 第拾玖次飛彈試射黑客松
            p
            p
            img.hack.ui.image(src='/imgs/projectimg/image.png', width="350px")
            p
            i.edit.medium.icon
            a(href="http://hack.g0v.tw/g0v-hackath19n", target="_blank") 共筆
            i.edit.medium.icon
            a(href="http://hack.g0v.tw/g0v-hackath19n/http%253A%252F%252Fbit.ly%252Fg0v-hackath19n", target="_blank") 提案列表
            p
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513DjtdMCJ8kmxD8boCtgyv_S", target="_blank") 開幕提案
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513D4WE6U2hU7hRq9g_LdElFq", target="_blank") 短講
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513DKvfCymlwLJGnohlnXBNUt", target="_blank") 成果閉幕

        .item
          .content
            .meta 2016/3/5
            .name 第拾捌次亞太營運黑客松
            p
            p
            img.hack.ui.image(src='/imgs/projectimg/image.png', width="350px")
            p
            i.edit.medium.icon
            a(href="http://hack.g0v.tw/g0v-hackath18n", target="_blank") 共筆
            i.edit.medium.icon
            a(href="http://hack.g0v.tw/g0v-hackath18n/https%253A%252F%252Fdocs.google.com%252Fspreadsheets%252Fd%252F1JZkKDGSi0GMoDxNVKn82458-chqxVm0vHfYv7aBHowg%252Fedit", target="_blank") 提案列表
            p
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513DG7A3IPNqHvIlNzTrv4URh", target="_blank") 開幕提案
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513DH3FEpFJ9h9KhR9NZWqvZU", target="_blank") 短講
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513DncV-LZJ99Vg_Cyjj43-1s", target="_blank") 成果閉幕

        .item
          .content
            .meta 2015/12/26
            .name 第拾柒次立委改選黑客松
            p
            p
            img.hack.ui.image(src='/imgs/projectimg/image.png', width="350px")
            p
            i.edit.medium.icon
            a(href="http://hack.g0v.tw/g0v-hackath17n", target="_blank") 共筆
            i.edit.medium.icon
            a(href="http://hack.g0v.tw/g0v-hackath17n/https%253A%252F%252Fdocs.google.com%252Fspreadsheets%252Fd%252F1k73A2qi-dMWjBz7WM941yE42hlgwcxHoR0b9L9CMWis%252Fedit", target="_blank") 提案列表
            p
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513DmKwE6V3YPnz29xtocQe4I", target="_blank") 開幕提案
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513DYPX1sc1vMre6aD_KhZsKZ", target="_blank") 短講
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513DJCOUO8f1unR_17WTDsgVt", target="_blank") 成果閉幕

        .item
          .content
            .meta 2015/10/24
            .name 第拾陸次刑法一百黑客松
            p
            p
            img.hack.ui.image(src='/imgs/projectimg/image.png', width="350px")
            p
            i.edit.medium.icon
            a(href="http://hack.g0v.tw/g0v-hackath16n", target="_blank") 共筆
            i.edit.medium.icon
            a(href="http://hack.g0v.tw/g0v-hackath16n/https%253A%252F%252Fdocs.google.com%252Fspreadsheets%252Fd%252F1qUCkG3JkIS8b5boq1leZ4HAn8Fe_eQBc63z2s4aStxc%252Fedit", target="_blank") 提案列表
            p
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513DCtvJq7bmo8UIG9b-hx8Qf", target="_blank") 開幕提案
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513DycRctVNRpA3_Zib8lgvDO", target="_blank") 短講
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513C907mHIIK8uOXkrnetScdI", target="_blank") 成果閉幕

        .item
          .content
            .meta 2015/8/22-23
            .name 第拾伍次資料科學黑客松
            p
            p
            img.hack.ui.image(src='/imgs/hackathons/hackath15n.png', width="380px", align="center")
            p.name4
            p
            i.edit.medium.icon
            a(href="http://hack.g0v.tw/g0v-hackath15n", target="_blank") 共筆
            i.edit.medium.icon
            a(href="http://hack.g0v.tw/g0v-hackath15n/http%253A%252F%252Fbit.ly%252F1gRO948", target="_blank") 提案列表
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513C-Ucr5YBzEhGdiBXjp8nXd", target="_blank") 開幕提案
            p
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513AksX95iQ9ZLoO7CGSqMrli", target="_blank") Day1 進度報告
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513CkU-YLRPcdv21IKC8KJm2v", target="_blank") 短講
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513AGLsikUnDqwBix3d5D81Cf", target="_blank") 小組突擊
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513CBy8PNg2CVqgD4XlsD7IHr", target="_blank") 成果報告閃電秀
        .item
          .content
            .meta 2015/6/13
            .name 第拾肆次野百合黑客松
            p
            p
            img.hack.ui.image(src='/imgs/hackathons/hackath14n.png', width="350px")
            //p.name4
            p
            i.edit.medium.icon
            a(href="http://hack.g0v.tw/g0v-hackath14n", target="_blank") 共筆
            //i.camera.medium.icon
            //a(href="http://hack.g0v.tw") 照片
            i.edit.medium.icon
            a(href="http://hack.g0v.tw/g0v-hackath14n/http%253A%252F%252Fbit.ly%252Fhackath14n", target="_blank") 提案列表
            p
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513A5q0y-BIxN3BmWl0TOuoVu", target="_blank") 開幕提案
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513CAy3h8nmCV1IFsaI8vPGCW", target="_blank") 短講
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513DbcPyqwKU-MWPsB_xIA8jK", target="_blank") 成果閉幕

        .item
          .content
            .meta 2015/4/18
            .name 第拾參次無殼蝸牛黑客松
            p
            p
            img.hack.ui.image(src='/imgs/hackathons/hackath13n.png', width="350px", align="center")
            //p.name4 g0v 社群與資料科學愛好者年會共同舉辦，是 g0v 第一次與其他團體合辦大型黑客松，也是首次連續兩天的活動。兩日成果於國際會議廳以閃電秀形式發表。
            p
            i.edit.medium.icon
            a(href="http://hack.g0v.tw/g0v-hackath13n", target="_blank") 共筆
            i.edit.medium.icon
            a(href="http://hack.g0v.tw/g0v-hackath13n/http%253A%252F%252Fbit.ly%252F1GsreVz", target="_blank") 提案列表
            //i.camera.medium.icon
            //a(href="http://hack.g0v.tw") 照片
            p
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513BhZaBy3VdW2MHQZd3ziulN", target="_blank") 開幕提案
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513DU2GxK0M1lYPZxU53wuh5K", target="_blank") 短講
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513CvqsZcDg2w_1yXQ097nQhe", target="_blank") 成果閉幕

        .item
          .content
            .meta 2015/2/14
            .name 第拾貳次選舉罷免黑客松
            p
            p
            img.hack.ui.image(src='/imgs/hackathons/hackath12n.png', width="350px")
            //p.name4 g0v 社群與資料科學愛好者年會共同舉辦，是 g0v 第一次與其他團體合辦大型黑客松，也是首次連續兩天的活動。兩日成果於國際會議廳以閃電秀形式發表。
            p
            i.edit.medium.icon
            a(href="http://hack.g0v.tw/g0v-hackath12n", target="_blank") 共筆
            //i.camera.medium.icon
            //a(href="http://hack.g0v.tw") 照片
            i.edit.medium.icon
            a(href="http://hack.g0v.tw/g0v-hackath12n/https%253A%252F%252Fdocs.google.com%252Fspreadsheets%252Fd%252F1dnBiLCAQwNr3uShvcITL6I8Pn00sJu3mJH0uVSO3oaM%252Fedit", target="_blank") 提案列表
            p
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513BqtUjQsBV-7d4QhYmHSJP5", target="_blank") 開幕提案
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513C3Bk9WkmTz4s5D1cbUJl8A", target="_blank") 短講
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513Aq2NNFlBwuWLKaoRrmx1DT", target="_blank") 成果閉幕
        .item
          .content
            .meta 2014/12/20
            .name 第拾壹次開放報禁黑客松
            p
            p
            img.hack.ui.image(src='/imgs/hackathons/hackath11n.png', width="350px")
            //p.name4 g0v 社群與資料科學愛好者年會共同舉辦，是 g0v 第一次與其他團體合辦大型黑客松，也是首次連續兩天的活動。兩日成果於國際會議廳以閃電秀形式發表。
            p
            i.edit.medium.icon
            a(href="http://hack.g0v.tw/g0v-hackath11n", target="_blank") 共筆
            //i.camera.medium.icon
            //a(href="http://hack.g0v.tw") 照片
            p
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513Aqt0pAcF-SNUbZbRp_odC_", target="_blank") 開幕提案
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513BeHL3hZG72jQbISne1eouV", target="_blank") 短講
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513APmBQwlMK1z8yHYz8eukOX", target="_blank") 成果閉幕
        .item
          .content
            .meta 2014/8/30-31
            .name 第拾次資料科學黑客松
            p
            img.hack.ui.floated.image(src='https://dl.dropboxusercontent.com/u/16853724/hackath10n.png', width="220px", align="left")
            p.name4 g0v 社群與資料科學愛好者年會共同舉辦，是 g0v 第一次與其他團體合辦大型黑客松，也是首次連續兩天的活動。兩日成果於國際會議廳以閃電秀形式發表。
            p
            i.edit.medium.icon
            a(href="http://hack.g0v.tw/g0v-hackath10n", target="_blank") 共筆
            p
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513AIbqa0WJ_jtoYG5XwltUBk", target="_blank") 開幕提案
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513CiFPEfWwH6WS-qiy3wkhE4", target="_blank") 短講
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513CBdo6AK6vOoDewCP7S-xKW", target="_blank") 成果閉幕
        .item
          .content
            .meta 2014/6/21
            .name 第玖次還我土地黑客松
            p
            img.hack.ui.image(src='/imgs/hackathons/hackath9n1.png', width="350px")
            //p.name4 g0v 社群與資料科學愛好者年會共同舉辦，是 g0v 第一次與其他團體合辦大型黑客松，也是首次連續兩天的活動。兩日成果於國際會議廳以閃電秀形式發表。
            p
            i.edit.medium.icon
            a(href="http://hack.g0v.tw/g0v-hackath9n", target="_blank") 共筆
            p
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513DbZEAbqv8Yp43AkYGSgzaX", target="_blank") 開幕提案
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513Dk5cZvNt_t24qoyuM3E_Ll", target="_blank") 短講
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513CJHIEaM4wK2V1CFOyLAb8B", target="_blank") 成果閉幕

        .item
          .content
            .meta 2014/4/19
            .name 第捌次解除戒嚴黑客松
            p
            img.hack.ui.image(src='/imgs/projectimg/image.png', width="350px")
            //p.name4 g0v 社群與資料科學愛好者年會共同舉辦，是 g0v 第一次與其他團體合辦大型黑客松，國際會議廳以閃電秀形式發表。
            p
            i.edit.medium.icon
            a(href="http://hack.g0v.tw/g0v-hackath8n", target="_blank") 共筆
            p
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513DsiaJRkDCy0oaHo8ELetMM", target="_blank") 開幕提案
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513Db74950gacoHs-bom3rLEZ", target="_blank") 短講
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513DLvTqRF6dCk1yQmNyUym83", target="_blank") 成果閉幕



        .item
          .content
            .meta 2014/2/22
            .name 第柒次自由時代黑客松
            p
            img.hack.ui.image(src='/imgs/hackathons/hackath7n.png', width="350px")
            //p.name4 g0v 社群與資料科學愛好者年會共同舉辦，是 g0v 第一次與其他團體合辦大型黑客松，也是首次連續兩天的活動。兩日成果於國際會議廳以閃電秀形式發表。
            p
            p
            i.edit.medium.icon
            a(href="http://hack.g0v.tw/g0v-hackath7n", target="_blank") 共筆
            p
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513BWqFnI0qfGvXVFv9X2kk3x", target="_blank") 開幕提案
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513ADAJgyGIFpwIZ7Z10Grh9j", target="_blank") 短講
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513DNAtOk-xYD15Ho4WrSxN_u", target="_blank") 成果閉幕

        .item
          .content
            .meta 2014/12/21
            .name 第陸次勞動基準黑客松
            p
            img.hack.ui.floated.image(src='/imgs/projectimg/image.png', width="220px", align="left")
            //p.name4 g0v 社群與資料科學愛好者年會共同舉辦，是 g0v 第一次與其他團體合辦大型黑客松，也是首次連續兩天的活動。兩日成果於國際會議廳以閃電秀形式發表。
            p
            i.edit.medium.icon
            span 共筆
            p
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513CkPD3citmgycj9d2-9dkSE", target="_blank") 開幕提案
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513AoDjPFD-RkMpDt8ihzA7Fz", target="_blank") 短講
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513CyDrwhK2acRuKYHwz3pa-N", target="_blank") 成果閉幕
        .item
          .content
            .meta 2013/10/20
            .name 第伍次美麗島黑客松
            p
            img.hack.ui.floated.image(src='/imgs/projectimg/image.png', width="220px", align="left")
            //p.name4 g0v 社群與資料科學愛好者年會共同舉辦，是 g0v 第一次與其他團體合辦大型黑客松，也是首次連續兩天的活動。兩日成果於國際會議廳以閃電秀形式發表。
            p
            i.edit.medium.icon
            a(href="http://hack.g0v.tw/g0v-hackath5n", target="_blank") 共筆
            p
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513CpK0Gs90ITLsnE3pY39GVv", target="_blank") 開幕提案
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513C7NC00EtYvihy1ZijXuNPT", target="_blank") 成果閉幕
        .item
          .content
            .meta 2013/8/10
            .name 第肆次國民大會黑客松
            p
            img.hack.ui.floated.image(src='/imgs/projectimg/image.png', width="220px", align="left")
            //p.name4 g0v 社群與資料科學愛好者年會共同舉辦，是 g0v 第一次與其他團體合辦大型黑客松，也是首次連續兩天的活動。兩日成果於國際會議廳以閃電秀形式發表。
            p
            i.edit.medium.icon
            a(href="http://hack.g0v.tw/g0v-hackath4n", target="_blank") 共筆
            p
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513C8yp0xtwb_BYHH_YUeMUi-", target="_blank") 開幕提案
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513Ayb0JJfgbf79i3pgP9vGxG", target="_blank") 成果閉幕
        .item
          .content
            .meta 2013/6/6
            .name 第參次客廳工廠黑客松
            p
            img.hack.ui.floated.image(src='/imgs/projectimg/image.png', width="220px", align="left")
            //p.name4 g0v 社群與資料科學愛好者年會共同舉辦，是 g0v 第一次與其他團體合辦大型黑客松，也是首次連續兩天的活動。兩日成果於國際會議廳以閃電秀形式發表。
            p
            i.edit.medium.icon
            a(href="http://hack.g0v.tw/g0v-hackath3n", target="_blank") 共筆
            p
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513BAw0LB3rmeyu92Qrsy6Wa2", target="_blank") 成果閉幕
        .item
          .content
            .meta 2013/3/23
            .name 第貳次九大建設黑客松
            p
            img.hack.ui.floated.image(src='/imgs/projectimg/image.png', width="220px", align="left")
            //p.name4 g0v 社群與資料科學愛好者年會共同舉辦，是 g0v 第一次與其他團體合辦大型黑客松，也是首次連續兩天的活動。兩日成果於國際會議廳以閃電秀形式發表。
            p
            i.edit.medium.icon
            a(href="http://hack.g0v.tw/g0v-hackath2n", target="_blank") 共筆

        .item
          .content
            .meta 2013/1/27
            .name 第壹次公地放領黑客松
            p
            img.hack.ui.floated.image(src='/imgs/projectimg/image.png', width="220px", align="left")
            //p.name4 g0v 社群與資料科學愛好者年會共同舉辦，是 g0v 第一次與其他團體合辦大型黑客松，也是首次連續兩天的活動。兩日成果於國際會議廳以閃電秀形式發表。
            p
            i.edit.medium.icon
            a(href="http://hack.g0v.tw/g0v-hackath1n", target="_blank") 共筆

        .item
          .content
            .meta 2012/12/1
            .name 第零次動員戡亂黑客松
            p
            img.hack.ui.floated.image(src='/imgs/projectimg/image.png', width="220px", align="left")
            //p.name4 g0v 社群與資料科學愛好者年會共同舉辦，是 g0v 第一次與其他團體合辦大型黑客松，也是首次連續兩天的活動。兩日成果於國際會議廳以閃電秀形式發表。
            p
            i.edit.medium.icon
            span 共筆
            p
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513AMIYK2ONxrMcK8R4ZBcMy5", target="_blank") 成果閉幕

  h2.header
    .content
      | 中型黑客松
  .ui.four.stackable.items
        .item
          .content
            .meta 2014/8/30-31
            .name 第拾次資料科學黑客松
            p
            img.hack.ui.floated.image(src='https://dl.dropboxusercontent.com/u/16853724/hackath10n.png')
            p
            i.edit.medium.icon
            a(href="http://hack.g0v.tw/g0v-hackath10n", target="_blank") 共筆
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513AIbqa0WJ_jtoYG5XwltUBk", target="_blank") 開幕提案
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513CiFPEfWwH6WS-qiy3wkhE4", target="_blank") 短講
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513CiFPEfWwH6WS-qiy3wkhE4", target="_blank") 成果閉幕

            i.camera.medium.icon
            a(href="http://hack.g0v.tw") 照片

        .item
          .content
            .meta 2014/6/21
            .name 第玖次還我土地黑客松
            p
            img.hack.ui.floated.image(src='/imgs/projectimg/image.png')
            i.edit.medium.icon
            a(href="http://hack.g0v.tw/g0v-hackath9n", target="_blank") 共筆
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513DbZEAbqv8Yp43AkYGSgzaX", target="_blank") 開幕提案
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513Dk5cZvNt_t24qoyuM3E_Ll", target="_blank") 短講
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513CJHIEaM4wK2V1CFOyLAb8B", target="_blank") 成果閉幕

            i.photo.medium.icon
            a(href="http://hack.g0v.tw", target="_blank") 照片

        .item
          .content
            .meta 2014/4/19
            .name 第捌次解除戒嚴黑客松
            p
            img.hack.ui.floated.image(src='/imgs/projectimg/image.png')
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513CJHIEaM4wK2V1CFOyLAb8B", target="_blank") 成果閉幕
            p
            i.photo.medium.icon
            a(href="http://hack.g0v.tw") 照片
  h2.header
    .content
      | 教學課程
  .ui.four.stackable.items
        .item
          .content
            .meta 2014/6/14
            .name 零時前端教學松
            .image
              img(src='/imgs/projectimg/image.png')
            p
            i.edit.medium.icon
            a(href="hhttp://hack.etblue.tw/learners", target="_blank") 共筆與教材
            i.youtube.medium.icon
            i.edit.medium.icon
            a(href="http://hack.g0v.tw/g0v-hackath8n", target="_blank") 共筆
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513DbZEAbqv8Yp43AkYGSgzaX", target="_blank") 開幕提案
            i.youtube.medium.icon
            a(href="https://www.youtube.com/playlist?list=PLdwQWxpS513Dk5cZvNt_t24qoyuM3E_Ll", target="_blank") 短講
            i.youtube.medium.icon
            a(href="https://www.youtube.com/watch?v=qDW-RqKDn1c", target="_blank") 直播
        .item
          .content
            .meta 2014/6/14
            .name 零時前端教學松
            .image
              img(src='/imgs/projectimg/image.png')
            p
            i.edit.medium.icon
            a(href="hhttp://hack.etblue.tw/learners", target="_blank") 共筆與教材
            i.youtube.medium.icon
            a(href="https://www.youtube.com/watch?v=qDW-RqKDn1c", target="_blank") 直播



  //.ui.red.segment
    .ui.label.teal.ribbon.large(translate="ACTRECORD") 黑客松紀錄
    case lang
      when 'en-US'
        include:md ../../md/en-us/hackathon/act_record.md
      default
        include:md ../../md/zh-tw/hackathon/act_record.md
