.ui.teal.segment
  .ui.orange.ribbon.label 如何參與
  iframe(defer-src="http://g0v.github.io/leve1up/embed/",frameborder="0",allowfullscreen,width="115%", height="4000px", style="margin-left:-100px")
    //include:md ../md/join/howto.md
