.ui.teal.segment
  .ui.orange.ribbon.label 零時政府相關連結
  div(ng-switch='locale')
    div(ng-switch-when="en-us")
      include:md ../../md/en-us/join/links.md
    div(ng-switch-when="zh-tw")    
      include:md ../../md/zh-tw/join/links.md
