extend ../layout/layout

block title
    title(translate="MANIFESTO_TITLE") 零時政府宣言

block vars
    - nav_cls.about = 'highlight'

block content
  .ui.teal.segment
    .ui.label.orange.ribbon.large 零時政府宣言
    case lang
      when 'en-US'
        include:md ../../md/en-US/about/manifesto.md
      default
        include:md ../../md/zh-TW/about/manifesto.md
