.ui.teal.segment
  .ui.label.orange.ribbon.large 零時政府宣言
  div(ng-switch='locale')
    div(ng-switch-when="en-us")
      include:md ../../md/en-us/about/manifesto.md
    div(ng-switch-when="zh-tw")    
      include:md ../../md/zh-tw/about/manifesto.md
