//- extend layout

//- block title 
//-     | 最新消息

//- block content
#news_left
    #news_nav
        .news_nav_tab#news_act(tab-url="./news/act_record.html")
            | 活動記錄
        .news_nav_tab#news_act_info(tab-url="./news/act_info.html")
            | 活動資訊
        .news_nav_tab#news_media(tab-url="./news/talk.html")
            | 演講資訊
        div.clearfix
         .news_nav_tab#news_media_report(tab-url="./news/media_report.html")
            | 媒體報導


    #news_content

#news_right

#news_float_clear

script(type="text/javascript").
    var newSwitchTab = new switchTab({
        tabClass: 'news_nav_tab',
        contentId: 'news_content',
        activeClass: 'news_active',
        tabId: ['news_media_report', 'news_act', 'news_act_info', 'news_media'],
        showFirst: 'news_act'
    });
