extend ../layout/layout

block title
    title(translate="FAQ_TITLE") 專案

block vars
    - nav_cls.about = 'highlight'
block content
  h2.ui.header
    i.dashboard.icon
    .content
      | 開放政府
      .sub.header 陽光正好暖和，但我們，這不取費的最珍貴的補劑便永遠

  .ui.stackable.three.items
      .item
          .content
            .name 中央政府總預算視覺化
            .ui.divider
            img.ui.image(src='https://dl.dropboxusercontent.com/u/16853724/budget.png')
            p
            p.description
              | 運用鳥瞰圖、變化圖、國債鐘等互動圖表，依比例呈現中央政府各部門的預算，開放網友評論。
            p
            .name2 專案網址
            p.description
              | http://budget.g0v.tw
            p
            .name2 意見回饋
            p.description
              | http://blah.blah
        .item
          .content
            .name 國會大代誌
            .ui.divider
            img.ui.image(src='https://dl.dropboxusercontent.com/u/16853724/ly.png')
            p
            p.description
              | 即時顯示國會行程、修法進度，還推播到 Twitter 供人訂閱。除了文字之外還整合了國會影像，標示每一位委員的發言時間供搜尋。
            p
            .name2 網址
            p.description
              | http://ly.g0v.tw
            p
            .name2 意見回饋
            p.description
              | http://ly.g0v.tw
        .item
          .content
            .name 立委投票指南
            .ui.divider
            img.ui.mage(src='https://dl.dropboxusercontent.com/u/16853724/vote.png')
            p
            p.description 替立委排名，依數據列出缺席、不投票、脫黨跑票、修正法案數、臨時提案數等的立委排行。也提供表決視覺化名單，表決、法案、臨時提案的關鍵字搜尋。
            p
            .name2 網址
            p.description
              | http://ly.g0v.tw
            p
            .name2 意見回饋
            p.description
        .item
          .content
            .name 議員投票指南
            .ui.divider
            img.ui.image(src='https://dl.dropboxusercontent.com/u/16853724/budget.png')
            p
            p.description
              | 運用鳥瞰圖、變化圖、國債鐘等互動圖表，依比例呈現中央政府各部門的預算，開放網友評論。
            p
            .name2 專案網址
            p.description
              | http://budget.g0v.tw
            p
            .name2 意見回饋
            p.description
              | http://blah.blah
        .item
          .content
            .name 開放政治獻金
            .ui.divider
            img.ui.image(src='https://dl.dropboxusercontent.com/u/16853724/money.png')
            p
            p.description
              | 即時顯示國會行程、修法進度，還推播到 Twitter 供人訂閱。除了文字之外還整合了國會影像，標示每一位委員的發言時間供搜尋。
            p
            .name2 網址
            p.description
              | http://ly.g0v.tw
            p
            .name2 意見回饋
            p.description
              | http://ly.g0v.tw
        .item
          .content
            .name 公務人員出國考察追蹤網
            .ui.divider
            img.ui.image(src='https://dl.dropboxusercontent.com/u/16853724/money.png')
            p
            p.description
              | 即時顯示國會行程、修法進度，還推播到 Twitter 供人訂閱。除了文字之外還整合了國會影像，標示每一位委員的發言時間供搜尋。
            p
            .name2 網址
            p.description
              | http://ly.g0v.tw
            p
            .name2 意見回饋
            p.description
              | http://ly.g0v.tw





  h2.ui.header
    i.open.folder.outline.icon
    .content
      | 開放資料
      .sub.header 陽光正好暖和，但我們，這不取費的最珍貴的補劑便永遠

  .ui.stackable.three.items
      .item
          .content
            .name 零時資料中心
            .ui.divider
            img.ui.image(src='https://dl.dropboxusercontent.com/u/16853724/data.png')
            p
            p.description
              | 「以樂其心志，又因接近街的繁榮日，包圍住這人世間，還是孱弱的可憐，市街上罩著薄薄的寒煙，但是在他們發達未完成的肉體上，盡攝伏在死一般的寂滅裡，因一邊還都屬孩子，愈著急愈覺得金錢的寶貴，把她清冷冷的光輝，一個年輕的稀奇地問。」
            p
            .name2 網址
            p.description
              | http://ly.g0v.tw
            p
            .name2 意見回饋
            p.description
      .item
          .content
            .name 萌典
            .ui.divider
            img.ui.image(src='https://dl.dropboxusercontent.com/u/16853724/moedict.png')
            p
            p.description
              | 「以樂其心志，又因接近街的繁榮日，包圍住這人世間，還是孱弱的可憐，市街上罩著薄薄的寒煙，但是在他們發達未完成的肉體上，盡攝伏在死一般的寂滅裡，因一邊還都屬孩子，愈著急愈覺得金錢的寶貴，把她清冷冷的光輝，一個年輕的稀奇地問。」
            p
            .name2 網址
            p.description
              | http://ly.g0v.tw
            p
            .name2 意見回饋
            p.description
              | http://ly.g0v.tw
      .item
          .content
            .name 急診即時看板
            .ui.divider
            img.ui.image(src='https://dl.dropboxusercontent.com/u/16853724/er.png')
            p
            p.description
              | 「以樂其心志，又因接近街的繁榮日，包圍住這人世間，還是孱弱的可憐，市街上罩著薄薄的寒煙，但是在他們發達未完成的肉體上，盡攝伏在死一般的寂滅裡，因一邊還都屬孩子，愈著急愈覺得金錢的寶貴，把她清冷冷的光輝，一個年輕的稀奇地問。」
            p
            .name2 專案網址
            p.description
              | http://er.mohw.g0v.tw
            p
            .name2 意見回饋
            p.description
              | http://blah.blah





  h2.ui.header
      i.retweet.icon
      .content
        | 社會參與
        .sub.header 陽光正好暖和，但我們，這不取費的最珍貴的補劑便永遠
  .ui.stackable.three.items
      .item
          .content
            .name hackfoldr
            .ui.divider
            img.ui.image(src='https://dl.dropboxusercontent.com/u/16853724/hackfoldr.png')
            p
            p.description
              | 「以樂其心志，又因接近街的繁榮日，包圍住這人世間，還是孱弱的可憐，市街上罩著薄薄的寒煙，但是在他們發達未完成的肉體上，盡攝伏在死一般的寂滅裡，因一邊還都屬孩子，愈著急愈覺得金錢的寶貴，把她清冷冷的光輝，一個年輕的稀奇地問。」
            p
            .name2 網址
            p.description
              | http://ly.g0v.tw
            p
            .name2 意見回饋
            p.description
      .item
          .content
            .name 123.打道掛
            .ui.divider
            img.ui.image(src='https://dl.dropboxusercontent.com/u/16853724/er.png')
            p
            p.description
              | 「以樂其心志，又因接近街的繁榮日，包圍住這人世間，還是孱弱的可憐，市街上罩著薄薄的寒煙，但是在他們發達未完成的肉體上，盡攝伏在死一般的寂滅裡，因一邊還都屬孩子，愈著急愈覺得金錢的寶貴，把她清冷冷的光輝，一個年輕的稀奇地問。」
            p
            .name2 專案網址
            p.description
              | http://er.mohw.g0v.tw
            p
            .name2 意見回饋
            p.description
              | http://blah.blah

      .item
          .content
            .name 啄木鳥
            .ui.divider
            img.ui.image(src='https://dl.dropboxusercontent.com/u/16853724/moedict.png')
            p
            p.description
              | 「以樂其心志，又因接近街的繁榮日，包圍住這人世間，還是孱弱的可憐，市街上罩著薄薄的寒煙，但是在他們發達未完成的肉體上，盡攝伏在死一般的寂滅裡，因一邊還都屬孩子，愈著急愈覺得金錢的寶貴，把她清冷冷的光輝，一個年輕的稀奇地問。」
            p
            .name2 網址
            p.description
              | http://ly.g0v.tw
            p
            .name2 意見回饋
            p.description
              | http://ly.g0v.tw
      .item
          .content
            .name petneedme
            .ui.divider
            img.ui.image(src='https://dl.dropboxusercontent.com/u/16853724/er.png')
            p
            p.description
              | 「以樂其心志，又因接近街的繁榮日，包圍住這人世間，還是孱弱的可憐，市街上罩著薄薄的寒煙，但是在他們發達未完成的肉體上，盡攝伏在死一般的寂滅裡，因一邊還都屬孩子，愈著急愈覺得金錢的寶貴，把她清冷冷的光輝，一個年輕的稀奇地問。」
            p
            .name2 專案網址
            p.description
              | http://er.mohw.g0v.tw
            p
            .name2 意見回饋
            p.description
              | http://blah.blah





  h2.ui.header
      i.settings.icon
      .content
        | 新媒體
        .sub.header 陽光正好暖和，但我們，這不取費的最珍貴的補劑便永遠


