.ui.teal.segment
  .ui.ribbon.red.label.large 演講資訊
  div(ng-switch='locale')
    div(ng-switch-when="en-us")
      include:md ../../md/en-us/talk/talk.md
    div(ng-switch-when="zh-tw")    
      include:md ../../md/zh-tw/talk/talk.md
