//- extend layout

//- block title 
//-     | 演講資訊

//- block vars
//-     - nav_cls.talk = 'highlight'

//- block content

#about-content
.ui.teal.segment
    .ui.ribbon.red.label.large 演講資訊
    include:md ../../md/zh-tw/talk/talk.md
