extend ../layout/layout

block title
    title(translate="TALK_TITLE") 演講資訊

block vars
    - nav_cls.actinfo = 'highlight'

block content

  div#projects_left_container
      div.navbar-wrapper
        ui.ui.vertical.pointing.secondary.menu.nav.navbar-nav
          li.item.menuItem
            a(href="#newtalks") 活動預告
          li.item.menuItem.active
            a(href="#talkvideo") 演講影音
          li.item.menuItem
            a(href="#alltalks") 過往演講
          li.item.menuItem
            a(href="#invitetalks") 演講邀約


  div#projects_right_container
    div#newtalks
    h5.ui.header
      //.content
        | 演講預告
      case lang
        when 'en-US'
          include:md ../../md/en-us/talk/newtalk.md
        default
          include:md ../../md/zh-tw/talk/newtalk.md
    div#talkvideo
    h2.header
      .content
        | 演講影音
    .ui.three.stackable.items
        .item
            .content
              .meta UDN talk 聯合大講堂．2014/9/16
              .name3 資料、社群、大協作 - 零時政府的數位革命
              iframe(width='288', height='216', src='http://www.youtube.com/embed/diEXolZicsw', frameborder='0', allowfullscreen='allowfullscreen')
              p.name2 講者：高嘉良
              p.name2
                | ☞
                a(href='https://speakerdeck.com/clkao/zi-liao-she-qun-da-xie-zuo-ling-shi-zheng-fu-de-shu-wei-ge-ming') 投影片
          .item
            .content
              .meta COSCUP．2014/7/20
              .name3 從沒有人到超多人：g0v社群經驗
              iframe(width='288', height='216', src='http://www.youtube.com/embed/ep1VLMvcXZY', frameborder='0', allowfullscreen='allowfullscreen')
              p.name2 講者：瞿筱葳
              p.name2
                | ☞
                a(href='http://www.slideshare.net/ipachiu/g0v2014-coscup') 投影片
          .item
            .content
              .meta clkao 環球分享會．2014/6/12
              .name3 Open Data x Open Gov x g0v
              iframe(width='288', height='216', src='http://www.youtube.com/embed/MMLTaq-Ycw4', frameborder='0', allowfullscreen='allowfullscreen')
              p.name2 講者：高嘉良
              p.name2
                | ☞
                a(href='https://speakerdeck.com/clkao/clkao-around-the-world-2014') 投影片
          .item
            .content
              .meta 交大資工．2014/5/14
              .name3 Hacking Your Goverment with Keyboards
              iframe(width='288', height='216', src='http://www.youtube.com/embed/oUyXN1B-ogQ', frameborder='0', allowfullscreen='allowfullscreen')
              p.name2 講者：王向榮、駱勁成
              p.name2
                | ☞
                a(href='https://g0v.hackpad.com/2014-05-14-eTkaDo45YVL') 共筆、投影片
          .item
            .content
              .meta OSDC．2014/4/12
              .name3 零時政府的第一年
              iframe(width='288', height='216', src='http://www.youtube.com/embed/GwIMe3MNQ_Q', frameborder='0', allowfullscreen='allowfullscreen')
              p.name2 講者：唐鳳
              p.name2
                | ☞
                a(href='http://www.slideshare.net/autang/0th-sunflower-digital-camp') 投影片
                | 、
                a(href='http://ccc.logdown.com/posts/2014/04/13/osdc2014-audrey') 逐字稿
          .item
            .content
              .meta HK MaD.asia．2014/1/12
              .name3 The Fifth Direction: Open
              iframe(width='288', height='216', src='http://www.youtube.com/embed/-BYb5wFAxOA', frameborder='0', allowfullscreen='allowfullscreen')
              p.name2 講者：高嘉良
              p.name2
                | ☞
                a(href='https://speakerdeck.com/clkao/g0v-at-mad-dot-asia-2014') 投影片
          .item
            .content
              .meta 不要核四、五六運動．2013/12/27
              .name3 『公民論壇』g0v零時政府
              iframe(width='288', height='216', src='http://www.youtube.com/embed/IB5H-RzcbDk', frameborder='0', allowfullscreen='allowfullscreen')
              p.name2 講者：楊孝先
          .item
            .content
              .meta TEDxTaipei．2013/9/29
              .name3 資訊的力量
              iframe(width='288', height='216', src='http://www.youtube.com/embed/7DOF0jLOut4', frameborder='0', allowfullscreen='allowfullscreen')
              p.name2 講者：吳泰輝
          .item
            .content
              .meta COSCUP．2013/8/3
              .name3 求職小幫手開發心路
              iframe(width='288', height='216', src='http://www.youtube.com/embed/1QhNm7aqMcc', frameborder='0', allowfullscreen='allowfullscreen')
              p.name2 講者：王向榮
          .item
            .content
              .meta COSCUP．2013/8/3
              .name3 Listening me! 福利請聽
              iframe(width='288', height='216', src='http://www.youtube.com/embed/bPK2NxzUMGs?list=UUU8s-nDqbsKnitUNaVJ2Xvg', frameborder='0', allowfullscreen='allowfullscreen')
              p.name2 講者：陳柏儒
          .item
            .content
              .meta COSCUP 閃電秀．2013/8/3
              .name3 鄉民關心你
              iframe(width='288', height='216', src='http://www.youtube.com/embed/fBiPe_9i724?list=UUU8s-nDqbsKnitUNaVJ2Xvg', frameborder='0', allowfullscreen='allowfullscreen')
              p.name2 講者：林雨蒼
          .item
            .content
              .meta COSCUP．2013/8/3
              .name3 Open Data 面面觀座談
              iframe(width='288', height='216', src='http://www.youtube.com/embed/X2797zh9x74', frameborder='0', allowfullscreen='allowfullscreen')
              p.name2 主持人：葉平，與談者：張善政、翟本喬、莊庭瑞、高嘉良
          .item
            .content
              .meta OSDC．2013/4/20
              .name3 g0v 黑客松 - 寫程式改造社會
              iframe(width='288', height='216', src='http://www.youtube.com/embed/0HURMy0l4Ck', frameborder='0', allowfullscreen='allowfullscreen')
              p.name2 講者：吳泰輝
              p.name2
                | ☞
                a(href='https://speakerdeck.com/tkirby/g0v-hei-ke-song-xie-cheng-shi-gai-zao-she-hui') 投影片
    div#alltalks
    case lang
      when 'en-US'
        include:md ../../md/en-us/talk/talk.md
      default
        include:md ../../md/zh-tw/talk/talk.md
    div#invitetalks
