extend ../layout/layout

block title
    title(translate="TALK_TITLE") 演講資訊

block vars
    - nav_cls.actinfo = 'highlight'

block content

    case lang
      when 'en-US'
        include:md ../../md/en-us/talk/talk.md
      default
        include:md ../../md/zh-tw/talk/talk.md
