.ui.purple.segment
  .ui.label.blue.ribbon.large 常用工具
  div(ng-switch='locale')
    div(ng-switch-when="en-us")
      include:md ../../md/en-us/join/tools.md
    div(ng-switch-when="zh-tw")    
      include:md ../../md/zh-tw/join/tools.md
