//- extend layout

//- block title 
//-     | 常用工具

//- block vars
//-     - nav_cls.join = 'highlight'

//- block content

#about-content
.ui.purple.segment
    .ui.label.blue.ribbon.large 常用工具
    include:md ../../md/zh-tw/join/tools.md
