extend ../layout/layout

block title
    | 常用工具

block vars
    - nav_cls.join = 'highlight'

block content
  .ui.purple.segment
    .ui.label.blue.ribbon.large 常用工具
    case lang
      when 'en-US'
        include:md ../../md/en-US/join/tools.md
      default
        include:md ../../md/zh-TW/join/tools.md
