extend ../layout/layout

block title
    title(translate="TRANSACTION_TITLE") 收支明細

block vars
    - nav_cls.about = 'highlight'
block content

  .ui.red.segment
    .ui.teal.ribbon.label(translate="TRANSACTION") 收支明細
    h2
      a(href="http://hack.g0v.tw/transaction") 大黑客松(揪松團)收支明細
