extend layout/layout

block title
  title 找不到頁面
block script
  script(type="text/javascript").
      (function(){
        var pathname = window.location.pathname;
        if(pathname.match(/^\/([a-z]+\.html)$/) && pathname !== '/404.html') {
          location.href = '/zh-TW' + pathname;
        }
      }())

block content
  .ui.teal.segment
    .ui.orange.ribbon.label 404 Not Found
    iframe.404-iframe(src="http://404page.missingkids.org.tw/api?key=scW9ysgf3HpnPmPwL5qN", width="100%", height="635", frameborder="0", style="margin-top: 40px;")
