extend layout

block title
    | 關於我們

block content

    #about-content
    .ui.teal.segment
        .ui.label.black.ribbon.large 關於零時政府
        include:md ../md/about/about.md


	#about-left
	.ui.secondary.vertical.pointing.menu
	    a.active.item
	        i.home.icon
	        | Home
	      a.item
	        i.mail.icon
	        | Messages
	      a.item
	        i.user.icon
	        | Friends
