extend layout

block title
    | 社群文化

block vars
    - nav_cls.join = 'highlight'

block content

    #about-content
    .ui.red.segment
        .ui.teal.ribbon.label 社群文化
        include:md ../md/join/community.md
