extend layout

block title
    | 零時政府 g0v.tw 首頁

block content
    #index_left_container
        .index_inner_container(ng-controller="FeaturedCtrl")
            h2
                | 最新成果
                a.pull-right(ng-click="nextProject()") &#xbb;
            .featured-projects
                h3: a(ng-href="{{project.homepage}}") {{project.name_zh || project.name}}
                .imgblock(style="text-align:center;border-top:1px solid #ccc;border-bottom:1px solid #ccc")
                  a(ng-href='{{project.homepage}}')
                    #prj-img-div
                      img#prj-img(ng-src='{{project.thumbnail.reduce ? project.thumbnail.0 : project.thumbnail}}',onload="show()")
                p.description {{ project.description_zh || project.description }}

        .index_inner_container(ng-controller="BlogCtrl")
            h2 部落格
            .blog-loading(ng-show="articles.length === 0")
            article(ng-repeat="article in articles | orderBy:'$index':true")
                h3: a(ng-href="{{article.link}}") {{article.title}}
                div(btf-markdown="article.description")

    #index_right_container

        .index_inner_container

            .events(ng-controller="EventCtrl")
                h2 活動訊息
                .event-loading(ng-show="events.length === 0")
                ul
                    li(ng-repeat="event in events | orderBy:'$index':true")
                        a(ng-href="{{event.link}}") {{event.title}}

            .videos
                h2 相關影片
                iframe(defer-src="//www.youtube.com/embed/videoseries?list=PLdwQWxpS513Ayb0JJfgbf79i3pgP9vGxG",frameborder="0",allowfullscreen,width="100%")

            .logbot
                h2 即時聊天
                h4: a(target="_blank",class="btn btn-info",href="http://hack.g0v.tw/irc") 進入聊天室
                iframe(height="480",target="_blank",defer-src="http://lumberjack.ultrab0t.net/widget/g0v.tw/",frameborder="0",allowfullscreen)

            .g0village
                h2 線上遊戲
                h4: a(target="_blank",class="btn btn-info",href="http://8bit.g0v.tw/") 8-bit 新手村

            .google_calendar
                h2 行事曆
                iframe(height="480",target="_blank",defer-src="https://www.google.com/calendar/embed?showTitle=0&showNav=0&showPrint=0&showTabs=0&showCalendars=0&mode=AGENDA&wkst=1&bgcolor=%23FFFFFF&src=cpcf6iv5pt9l6gl2ue3svo63e8%40group.calendar.google.com&color=%23865A5A&ctz=Asia%2FTaipei",frameborder="0",allowfullscreen)

    #index_float_clear
