extend layout

block title
    | 零時政府 g0v.tw 首頁

block content

    #index_left_container

        .ui.three.connected.items
            a.item(target="_blank",href="/manifesto.html")
                .image
                  img(src='/imgs/transparency.jpg')
                .content
                  .name Transparency
                  p.description
                    | 致力推動資訊透明化，關心言論自由、資訊開放，從零重新思考政府的角色。 
            a.item(target="_blank",href="/actrecord.html")
                .image
                  img(src='/imgs/action.png')
                .content
                  .name Action
                  p.description
                    | 每兩個月舉行一次黑客松工作坊，以實際行動參與社會，尋找公民新力量。
            a.item(target="_blank",href="/join.html")
                .image
                  img(src='/imgs/community.jpg')
                .content
                  .name Community
                  p.description
                    | 參與者來自四方各領域，以開放原始碼的精神為基底共同協作。互相刺激，一起成長。

        .ui.purple.segment(ng-controller="FeaturedCtrl")
            .ui.red.ribbon.large.label 零時政府最新成果
            a.pull-right(ng-click="nextProject()") &#xbb;
            .featured-projects
                h4: a(ng-href="{{project.homepage}}") {{project.name_zh || project.name}}
                .imgblock(style="text-align:center;border-top:1px solid #ccc;border-bottom:1px solid #ccc")
                  a(ng-href='{{project.homepage}}')
                    #prj-img-div
                      img#prj-img(ng-src='{{project.thumbnail.reduce ? project.thumbnail.0 : project.thumbnail}}',onload="show()")
                p.description {{ project.description_zh || project.description }}

        .ui.green.segment(ng-controller="BlogCtrl")
            .ui.red.ribbon.large.label 零時政府部落格
            .blog-loading(ng-show="articles.length === 0")
            article(ng-repeat="article in articles | orderBy:'$index':true")
                h4: a(ng-href="{{article.link}}") {{article.title}}
                div(btf-markdown="article.description")
                .ui.horizontal.icon.divider
                    i.code.icon

    #index_right_container

        .ui.orange.segment(ng-controller="EventCtrl")

            .event-loading(ng-show="events.length === 0")
            h4 活動訊息
                ul
                    li(ng-repeat="event in events | orderBy:'$index':true")
                        a(ng-href="{{event.link}}") {{event.title}}

             .ui.divider
            .videos
                h4 相關影片
                iframe(defer-src="//www.youtube.com/embed/videoseries?list=PLdwQWxpS513Ayb0JJfgbf79i3pgP9vGxG",frameborder="0",allowfullscreen,width="100%")
            .ui.divider
            .logbot
                h4 即時聊天
                h4: a(target="_blank",class="btn btn-info",href="http://hack.g0v.tw/irc") 來聊天！
                // -- Uncomment this line when it's back in operation --
                // iframe(height="480",target="_blank",defer-src="http://lumberjack.ultrab0t.net/widget/g0v.tw/",frameborder="0",allowfullscreen)
                iframe(height="480",target="_blank",defer-src="http://logbot.g0v.tw/widget/g0v.tw",frameborder="0",allowfullscreen)
             .ui.divider
            .g0village
                h4 線上遊戲
                h4: a(target="_blank",class="btn btn-info",href="http://8bit.g0v.tw/") 8-bit 新手村
             .ui.divider
            .google_calendar
                h4 行事曆
                iframe(height="488",width="220", target="_blank",defer-src="https://www.google.com/calendar/embed?showTitle=0&showNav=0&showPrint=0&showTabs=0&showCalendars=0&mode=AGENDA&wkst=1&bgcolor=%23FFFFFF&src=cpcf6iv5pt9l6gl2ue3svo63e8%40group.calendar.google.com&color=%23865A5A&ctz=Asia%2FTaipei",frameborder="0",allowfullscreen)




    #index_float_clear
