extend layout

block title
    | 關於我們

block vars
    - nav_cls.join = 'highlight'

block content

    #about-content
    .ui.teal.segment
        .ui.orange.ribbon.label 如何參與
        include:md ../md/join/howto.md
