extend layout

block title
    | 如何參與

block vars
    - nav_cls.join = 'highlight'

block content

    #about-content
    .ui.teal.segment
        .ui.orange.ribbon.label 如何參與
        iframe(defer-src="http://g0v.github.io/leve1up/",frameborder="0",allowfullscreen,width="149%", height="4000px")
        //include:md ../md/join/howto.md
