#container
    .ui.menu
        .menu
            a.active.orange.item(href="/index.html")
              | 首頁
            .ui.pointing.dropdown.link.active.item
              | 關於
              .menu
                a.item(href="/about.html")
                  | 關於 g0v
                a.item(href="/manifesto.html")
                  | g0v 宣言 
                a.item(href="/media.html")
                  | 媒體報導
                a.item(href="http://blog.g0v.tw")
                  | 部落格
                a.item(href="/faq.html")
                  | 常見問題
                a.item(href="/transaction.html")
                  | 收支明細
             .ui.pointing.dropdown.link.active.item
              | 專案列表
              .menu
                a.item(href="http://hack.g0v.tw/projects")
                  | 成果列表
                a.item
                  | 開發中專案
            .ui.pointing.dropdown.link.item
              | 加入行動
              .menu
                a.item(href="/howto.html")
                  | 新手指南
                a.item(href="/tools.html")
                  | 常用工具
                a.item
                  | 社群文化
                a.item(href="http://hack.g0v.tw/people")
                  | 成員入口
                a.item
                  | 相關連結
            a.purple.item(href="/talk.html")
              | 演講資訊
            .ui.pointing.dropdown.link.item
              | 黑客松資訊
              .menu
                a.item(href="/actinfo.html")
                  | 報名黑客松
                a.item(href="/actrecord.html")
                  | 黑客松紀錄
            .ui.pointing.dropdown.link.item
              | 聯繫
              .menu
                a.item(href="/contact.html")
                  | 聯繫方式
            