#nav_bar
    #nav_main
        #nav_index.nav_tab
            a(href="/")
                span 首頁
        #nav_about.nav_tab
            a(href="/about.html")
                span 關於我們
        #nav_archives.nav_tab
            a(href="http://hack.g0v.tw/project", target="_blank")
                span 所有成果
        #nav_join.nav_tab
            a(href="/join.html")
                span 加入我們
        #nav_news.nav_tab.dropdown
            a#dLabel.dropdown-toggle(href="/news.html", data-toggle="dropdown", role="button", data-target="/news.html")
                span 最新消息
            ul.dropdown-menu(role="menu", aria-labelledby="dLabel")
                li(role="presentation")
                    a(role="menuitem") 活動記錄
        div.clearfix