extend layout

block script
    script(type="text/javascript").
        $(document).ready(function () {
            var page = "join";
            $("#nav_" + page).addClass("active");
        }); 
block title 
    | 參與我們

block content
    #join_left
        #join_nav
            .join_nav_tab#join_how(tab-url="./join/how_to.html")
                | 如何參與
            .join_nav_tab#join_tools(tab-url="./join/tools.html")
                | 常用工具
            .join_nav_tab#join_project(tab-url="./join/project.html")
                | 專案入口
            .join_nav_tab#join_member(tab-url="./join/members.html")
                | 成員介紹
           
        #join_content
            
    #join_right
        .join_right_inner
            
            include ../md/join_right/right.md

    #join_float_clear

    script(type="text/javascript", src="./javascript/switchTab.js")
    script(type="text/javascript").
        var newSwitchTab = new switchTab({
            tabClass: 'join_nav_tab',
            contentId: 'join_content',
            activeClass: 'join_active',
            tabId: ['join_how', 'join_tools', 'join_project', 'join_member'],
            showFirst: 'join_how'
        });