extend layout

block script
    script(type="text/javascript").
        $(document).ready(function () {
            var page = "about";
            $("#nav_" + page).addClass("active");
        }); 

block title 
    | 關於我們

block content

    include ../md/about/manifesto.md
