@margin: 20px;
@pad: 20px;
@small_pad: 10px;
@sidebar_width: 241px;
@grayLight: #999;

body {
  background:url(../imgs/tiles.png);
    padding: 0 0px;
    font-family: "Architects Daughter", "Helvetica Neue", Helvetica, Arial, "微軟正黑體", sans-serif;
    font-size: 16px;
    line-height: 28px;
    color: #333333;
}



i.icon {
    font-family: Icons !important;
    font-style: normal !important;
}

#container, #nav_bar, #footer { width: 960px; }
#header {
  width: 100%;
  position: inherit;
}
#nav_bar .nav_tab { width: 200px; }
#index_left_container { width: 669px; /* container width - index_right_container width - margin */ }
#index_right_container { width: 271px; }
@media (max-width: 1100px) {
	#container, #header, #nav_bar, #footer { width: 100%; }
	#nav_bar .nav_tab { letter-spacing: 0 !important; width: 20%; }
	#index_left_container { width: 100%; }
	#index_right_container { width: 100%; }
		iframe { width: 100%; }
		.videos iframe { height: 100%; }
		.logbot { width: 100%; }
}

@media (max-width: 640px) {
    body {
        padding: 0 5%;
    }
    #nav_bar .nav_tab { font-size: 80% !important; }
}

#header {
  background-color: #000000;
  border-bottom: 2px solid rgba(0,0,0,0);
  box-shadow: 0 0 0px rgba(0,0,0,0.6);
  height: 55px;
	margin: 0 auto;
}

#header_inner_container {
  margin: 0 auto;

  #logo {
    float: left;
  }

  .translator {
    padding-top: 19px;
    margin-right: 180px;
    .ui.button {
      margin-right: 5px;
      float:right;
    }
  }

  #social_block {
    display: table-cell;
    float: right;
    -webkit-transform: translate(-30px, 20px) scale(0.95);
    -moz-transform: translate(-30px, 20px) scale(0.95);
    -ms-transform: translate(-30px, 20px) scale(0.95);
    transform: translate(-30px, 20px) scale(0.95);
    #fb_block {
      display: inline-block;
      vertical-align: bottom;
      margin-right: 10px;
    }
    #g_block {
      display: inline-block;
      vertical-align: bottom;
      margin-right: 10px;
      height: 20px;
    }
  }
}

#nav_bar {
  margin: 0 auto;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 0 0px rgba(0,0,0,0.6);
  background: url(../imgs/binding_light.png);

  .nav_tab {
    color: #fff;
    text-shadow: -1px -1px 1px #666;
    cursor: pointer;
    float: left;
    font-size: 1.2em;
    letter-spacing: 2px;
    line-height: 2em;
    padding-top: 4px;
    text-align: center;
    height: 50px;
    line-height: 45px;
    a {
        color: #ddd;
        text-decoration: none;
        display: block;
        position: relative;
    }
    &:first-child { border-left: 0; }
    &.active, &:hover {
        background-color: rgba(0,0,0,0.4);
        box-shadow: 0 0 0px rgba(0,0,0,0.9);
        text-shadow: none;
        a {
          color: #fff;
        }
    }
  }
}

.header h1 {
  letter-spacing: -1px;
  font-size: 72px;
  color: white;
  line-height: 1;
  margin-bottom: 0.2em;
}

.header img {
  float:left;
}

#container {
  margin-right: auto;
  margin-left: auto;
}

.map-entry.hackathon {
  width: 140px;
  text-align: right;
  .map-item {
    margin-right: 10px;
  }
}

#talk {
  float: right;
  width: 142px;
  height: 93px;
  background: url(../imgs/talk.png) no-repeat 0px -10px;
  left: -70px;
  top: -25px;
  position: relative;
}

#talk div {
  margin-top:35px;
  text-align: center;
}

#sitemap-panel {
  text-align: left;
  margin-top:20px;
  margin-right: auto;
  margin-left: auto;
  width: 700px;
}

#sitemap-panel a {
  color:#FFF;
  font-size: 80%;
}
#sitemap-panel a:hover {
  color:#831;
}

.map-caption-hot {
  background:#a00!important;
}

.map-entry {
  float:left;
  margin-right: 26px;
}

.map-caption {
  text-align: center;
  font-weight: 700;
  margin-bottom: 5px;
  background: #00B5AD;
  border-radius: 3px;
  color: #fff;
  padding:3px 8px 3px 8px;
}

.map-item {
  margin:0 0 2px 0;
}

.page-icon {
  float:left;margin:0 15px 15px 0;box-shadow:0px 0px 0px;
}

#footer {
  background-color: #000000;
  box-shadow: 0px 0px 0px;
  color: @grayLight;
  height: 200px;
  width: 100%;
	line-height: 20px;
  margin: 30px auto 0;
  padding: 10px 0;
  .footer-brand {
    margin-left: 45%;
  }
}

em.time {
  color: @grayLight;
  font-size: 80%;
}

h3 {
  margin-top:30px;
}

h4 {
  line-height: 28px;

}
.brand {
  float:right!important;
}

.navbar {
  box-shadow: 0 0px 0px;
}

.logbot {
  height: 500px;
  margin: 5px;
  overflow: auto;
  border-radius: 3px;
}

#prj-img-div {
  background: url(../imgs/spin-pacman.gif) rgba(128,128,128,0.1) no-repeat center center;
  margin: 10px 0;
  border-radius: 5px;
  min-height: 200px;
  overflow: hidden;
}
#prj-img {
  opacity: 0;
}

.featured-projects {
  min-height: 200px;
  .imgblock {
    text-align: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
  img {
    max-height: 300px;
    margin: 20px;
    box-shadow: 0 0 0px rgba(0,0,0,0.3);
    border-radius: 5px;
  }
  p.description {
    margin: 10px;
    font-size: larger;
    text-align: center;
  }
  padding: 0 20px;
}

.blog-loading, .event-loading {
  background: url(../imgs/spin-pacman.gif) no-repeat center center;
  min-height: 240px;
}

.build-id a {
  font-size: small;
  font-weight: bold;
  color: hsl(0, 0%, 20%) !important;
  padding: 3px;
  border-radius: 5px;
  background: hsl(0, 100%, 100%);
  &:hover {
    color: hsl(0, 0%, 40%);
  }
}


.ui.black.ribbon.label, .ui.purple.ribbon.label, .ui.red.ribbon.label, .ui.orange.ribbon.label, .ui.green.ribbon.label, .ui.teal.ribbon.label, .ui.blue.ribbon.label {
  font-size: larger;
  margin: -1.2em 0em 0em -1.8em;
}

.ui.green.segment, .ui.blue.segment, .ui.purple.segment, .ui.teal.segment, .ui.red.segment {
  padding: 2em 3em 3em 3em;
}

.highlight {
	border-color: #F05940!important;
	color: #F05940!important;
	-webkit-box-shadow: 0 .2em 0 inset !important;
	box-shadow: 0 .2em 0 inset !important;
	border-radius: 0 !important;
}

li {
  line-height: 28px;
}
// vi:nowrap:sw=2:ts=2
