#projects_left_container {
    float: left;
}

#projects_right_container {
    float: right;
}

.navbar-wrapper {
    margin-top: 80px;
    position: relative;
    z-index: 15;
    margin-left: -270px;
}

#footer {
    clear: both;
}
