extend layout

block script
    script(type="text/javascript").
        $(document).ready(function () {
            var page = "archives";
            $("#nav_" + page).addClass("active");
        }); 
    script(type="text/javascript", src="./javascript/archives.js")
block title 
    | 所有成果
    
block content
    #archives_left
        #archives_nav
            .archives_nav_tab#archives_all
                | 開發成果

            .archives_nav_tab#archives_component
                | 開發元件成果
        #archives_content
        

    #archives_right
        .archives_right_inner
            .archives_right_header
                | select box
            .archives_right_content
                select
                    option(value="test1")
                        | test1
                    option(value="test2")
                        | test2
                    option(value="test3")
                        | test3
                select
                    option(value="test1")
                        | test1
                    option(value="test2")
                        | test2
                    option(value="test3")
                        | test3
                input(type="text", placeholder="關鍵字")
        .archives_right_inner
            
            include ../md/archives_right/right.md

    #archives_float_clear